# Директория Go modules
/vendor/

# Кеши и временные файлы
*.log
*.tmp

# Файлы исполняемых бинарников
*.exe
*.dll
*.so
*.dylib
*.bin
*.out
*.o

# Кеш и временные файлы Go
/tmp/
*.test
*.prof
*.sum

# Файл переменных окружения (например, с токенами)
.env

# Настройки GoLand (IDE JetBrains)
.idea/
*.iml
